.propsContent {
  padding-bottom: 12rem;
  @media (max-width: 768px) {
    padding-bottom: 10rem;
  }
  @media (max-width: 576px) {
    padding-bottom: 0;
  }
}
.titleWrap {
  display: flex;
  justify-content: space-between;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.subTitle {
  width: 50%;
  font-weight: 700;
  @media (max-width: 576px) {
    margin-top: 3rem;
    width: 100%;
  }
}

.card {
  margin-top: 6rem;
  background-color: #f7f5f5;
  border-radius: 2rem;
  padding: 5rem;

  th {
    font-weight: 600;
    font-size: 2rem;
    width: 50%;
    text-align: left;
    vertical-align: text-top;
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
  td {
    font-size: 1.8rem;
    text-align: left;
    vertical-align: text-top;
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
  @media (max-width: 576px) {
    margin-top: 4rem;
    padding: 1rem 1rem 6rem 1rem;
    table,
    td,
    th {
      display: block;
      width: 100%;
    }
    th {
      margin-top: 3rem;
    }
    td {
      margin-top: 1.5rem;
    }
  }
}
