.reviews {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.cards {
  display: flex;
  margin-top: 8rem;
  justify-content: space-between;
  gap: 3rem;
  align-items: flex-start;
  @media (max-width: 768px) {
    margin-top: 6rem;
    gap: 2rem;
  }
  @media (max-width: 576px) {
    margin-top: 3rem;
    flex-direction: column;
    gap: 3rem;
  }
}
