.headerCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-top: 1px #dfdfdf solid;
  @media (max-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 8rem;
    position: relative;
  }
  @media (max-width: 576px) {
    padding-bottom: 10rem;
    flex-direction: column;
  }
}

.title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.2;
  flex-grow: 1;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
  @media (max-width: 576px) {
    font-size: 2rem;
  }
  span {
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
    @media (max-width: 768px) {
      font-size: 1.8rem;
    }
    @media (max-width: 576px) {
      font-size: 1.6rem;
    }
  }
}
.items {
  width: 36rem;
  margin-right: 3rem;
  @media (max-width: 576px) {
    margin-top: 3rem;
    width: 100%;
  }
}

.items .item + .item {
  margin-top: 1rem;
  @media (max-width: 768px) {
    margin-top: 1.5rem;
  }
}
.button {
  width: 10rem;
  @media (max-width: 768px) {
    position: absolute;
    bottom: 2.5rem;
    right: 6rem;
    width: auto;
  }
  @media (max-width: 768px) {
    right: auto;
    left: 1rem;
    bottom: 4rem;
  }
}

.bodyCard {
  background-color: #f7f5f5;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 0;
  opacity: 0;
  padding: 0;
}

.bodyCardActive {
  height: auto;
  opacity: 1;
  padding: 6rem 0;
}
.table {
  width: 100%;
  padding-right: 11rem;
  text-align: left;
  @media (max-width: 768px) {
    padding-right: 7rem;
    padding-left: 2rem;
  }
  @media (max-width: 576px) {
    display: block;
    padding-right: 3rem;
    padding-left: 0.5rem;
  }
}

.headerContent {
  @media (max-width: 576px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.category {
  width: 59rem;
  @media (max-width: 768px) {
    width: 55%;
  }
  @media (max-width: 576px) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.headerTable {
  color: #9a9696;
  font-weight: 400;
  font-size: 1.6rem;
  span {
    display: block;
    margin-top: 1rem;
    @media (max-width: 768px) {
      margin-top: 0.5rem;
    }
    @media (max-width: 576px) {
      margin-top: 0;
      width: 8rem;
    }
  }
  @media (max-width: 576px) {
    font-size: 1.2rem;
    display: block;
  }
}

.titleTable {
  font-weight: 600;
  font-size: 2rem;
  padding-top: 2.9rem;
  @media (max-width: 768px) {
    font-size: 1.8rem;
    padding-top: 4.5rem;
  }
  @media (max-width: 576px) {
    padding-top: 3rem;
  }
}

.tr {
  font-size: 1.8rem;
  font-weight: 600;
  vertical-align: text-top;
  @media (max-width: 576px) {
    display: flex;
    flex-wrap: wrap;
    td {
      width: 8rem;
      margin-top: 2.5rem;
    }
  }
}

td.titleTr {
  font-weight: 400;
  padding-right: 22rem;
  @media (max-width: 768px) {
    font-size: 1.6rem;
    padding-right: 10rem;
  }
  @media (max-width: 576px) {
    padding-right: 0;
    margin-top: 1rem;
    width: 100%;
  }
}
