.addressRoute {
  font-size: 1.6rem;
  color: #a5a4a4;
  margin-bottom: 10rem;
  padding-top: 4.5rem;
  @media (max-width: 576px) {
    font-size: 1rem;
    margin-bottom: 6rem;
  }
}
.gap {
  display: inline-block;
  margin: 0 1rem;
}
